//BREAKPOINTS:
$mobile: 320px;
$tablet: 768px;
$tablet2: 896px;
$desktop: 1200px;

//colorS
$primary-color: #323232;
$secondary-color: #fff;
$color-CTA-link: rgb(3, 128, 128);
$color-hover: rgb(1, 77, 77);
$color-background-grey: #fafafa;
$color-form-label: #afafaf;
$color-border: #e1e1e1;
