@import "../../styles/partials/variables.scss",
	"../../styles/partials/mixins.scss", "../../styles/partials/font.scss";

.main {
	&__nextVideo {
		display: inline-block;
		padding: 0 1.6rem;
		width: 100%;
		max-width: 34.8rem;
	}
	&__nextVideo-title {
		@include font-forms;
		margin: 4rem 0;
	}
}
