@import "../../styles/partials/variables.scss",
	"../../styles/partials/mixins.scss", "../../styles/partials/font.scss";

.comments__avatar {
	@include avatar;
	margin: 2.8rem 2rem 0 0;
}

.form {
	@include flex;
	width: calc(70vw - 0.4rem);
	margin-top: 0.8rem;
	@media (min-width: $tablet) {
		@include flex(row);
		width: calc(100% - 6.8rem);
	}

	&__label {
		@include font-forms;
		width: 100%;
	}
	&__input {
		@include textbox;
		@media (min-width: $tablet) {
			margin-right: 1.6rem;
			width: calc(100% - 16rem - 1.6rem);
		}
	}
	&__submitBtn {
		@include button;
		width: 100%;
		@media (min-width: $tablet) {
			width: 16rem;
		}
	}
}
